html {
    scroll-behavior: smooth;
}
/*Navbar CSS*/
nav, ul, li, li a, li img {
    z-index: 10;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(112, 185, 39);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}
#navbarLogo {
    position: relative;
    top: 1em;
    width: 3.9%;
    float: right;
    margin-right: 1em;
    border-radius: 0.75em;
    margin-top: 0.3em;
}
li {
    float: left;
}  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5em 1.2em;
    text-decoration: none;
}
li a:hover {
    background-color: #9ED763;
}
/*Main content on the page CSS*/
main {
    font-family: sans-serif;
}
#aboutUs {
    margin-top: 4em;
}
main h1 {
    text-decoration: underline;
    color: rgb(112, 185, 39);
}
#healthymeBanner {
    width: 100%;
    position: relative;
    top: 4em;
    z-index: -1;
}
#aboutUsTitle, #dietsTitle{
    margin-left: 11.75em;
    z-index: -1;
}
#aboutUsText {
    position: relative;
    top: 2em;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
    font-size: large;
    text-align: justify;
    margin-bottom: auto;
}
.dietHeadings {
    margin-left: 15.6em;
    text-decoration: underline;
    color: #1E9056;
    position: relative;
    top: 1em;
}
.innerDietHeadings {
    text-decoration: underline;
    color: #559513;
    margin-left: 20.7em;
    position: relative;
    top: 0.5em;
    font-size: large;
}
.dietText {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}
main ul {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}
.dietHeadings, .innerDietHeadings, .clear {
    clear: both;
}
/*Form CSS*/
form {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
}
fieldset {
    border-color: rgb(112, 185, 39);
    border-radius: 0.5em;
    z-index: -1;
}
legend {
    font-weight: bold;
    font-size: 2em;
    color: rgb(112, 185, 39);
    text-decoration: underline;
    z-index: -1;
}
form p {
    padding-left: 2em;
    z-index: -1;
}
input {
    margin-left: 4em;
    z-index: -1;
}
textarea {
    margin-left: 4em;
    z-index: -1;
}
.spacer {
    margin-bottom: 2em;
}
#nameInput {
    margin-left: 8.6em;
}
#commentLabel {
    margin-bottom: 2em;
}
.button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 2em;
}
#emptyName, #emptyEmail, #emptyComment {
    color: red;
}

#copyright {
    text-align: center;
    margin-top: 4em;
}
/* Media Queries CSS*/
@media screen and (max-width: 2560px) {
    #navbarLogo {
        width: 3.3%;
    }
    li {
        font-size: 1.35em;
    }
    #healthymeBanner {
        top: 5.5em;
    }
}
@media screen and (min-width: 1441px) {
    #aboutUsTitle {
        position: relative;
        top: 1em;
    }
    #dietsTitle {
        position: relative;
        top: 1em;
    }
    #contactUs {
        position: relative;
        top: 1.5em;
    }
}
@media screen and (max-width: 1440px) {
    #navbarLogo {
        width: 3.5%;
        top: auto;
        margin-top: 0.5em;
    }
    #healthymeBanner {
        top: 4em;
    }
    li {
        font-size: 1em;
    }
    #aboutUsTitle, #dietsTitle {
        position: relative;
        right: 0.75em;
        top: 0.75em;
    }
    .dietHeadings, .innerDietHeadings {
        position: relative;
        right: 0.85em;
    }
    main ul {
        font-size: large;
    }
    #contactUs {
        position: relative;
        top: 1em;
    }
}
@media screen and (max-width: 1200px) {
    #navbarLogo {
        width: 5%;
        margin-top: 0.5em;
    }
    #healthymeBanner {
        top: 4em;
    }
    #aboutUsText {
        width: 75%;
    }
    #aboutUsTitle, #dietsTitle {
        position: relative;
        right: 7.85em;
    }
    .dietText {
        width: 75%;
    }
    .dietHeadings {
        position: relative;
        right: 10.5em;
    }
    .innerDietHeadings {
        position: relative;
        right: 13.8em;
    }
    main ul {
        position: relative;
        right: 6em;
        z-index: -1;
    }
    #contactUs {
        width: 75%;
    }
}
@media screen and (max-width: 768px) {
    #navbarLogo {
        width: 6%;
        margin-top: 0.55em;
    }
    #healthymeBanner {
        top: 4em;
    }
    #aboutUsTitle, #dietsTitle {
        position: relative;
        right: 8.8em;
    }
    .dietHeadings {
        position: relative;
        right: 11.7em;
    }
    .innerDietHeadings {
        position: relative;
        right: 15.5em;
    }
    main ul {
        position: relative;
        right: 4em;
    }
    #contactUs {
        width: 70%;
        position: relative;
        right: 4em;
    }
}
@media screen and (max-width: 480px) {
    #navbarLogo {
        width: 0%;
    }
    nav li {
        width: 24%;
        padding-bottom: 0em;
    }
    #healthymeBanner {
        top: 4em;
        width: 155%;
    }
    #aboutUsTitle, #dietsTitle {
        width: 100%;
        position: relative;
        right: 10.3em;
    }
    .dietHeadings {
        width: 100%;
        position: relative;
        right: 13.5em;
    }
    .innerDietHeadings {
        width: 100%;
        position: relative;
        right: 18em;
    }
    #aboutUsText {
        width: 130%;
        position: relative;
        left: 2.7em;
    }
    .dietText {
        width: 130%;
        position: relative;
        left: 2.7em;
    }
    main ul {
        width: 100%;
        position: relative;
        left: 2em;
    }
    #contactUs {
        width: 80%;
        position: relative;
        right: 5em;
    }
    #copyright {
        position: relative;
        left: 8em;
    }
}
@media screen and (max-width: 375px) {
    #navbarLogo {
        width: 0%;
    }
    #healthymeBanner {
        top: 4.5em;
        width: 171%;
    }
    nav a {
        font-size: large;
    }
    #aboutUsText {
        width: 150%;
    }
    .dietText {
        width: 150%;
    }
    main ul {
        width: 125%;
    }
}
@media screen and (max-width: 320px) {
    #navbarLogo {
        width: 0%;
        margin-top: 0.3em;
    }
    #healthymeBanner {
        top: 4.5em;
        width: 199%;
    }
    #aboutUsText {
        width: 165%;
    }
    .dietText {
        width: 165%;
    }
    main ul {
        width: 140%;
    }
    #contactUs {
        width: 5%;
        position: relative;
        right: 1.5em;
    }
}