body {
    font-family: sans-serif;
    background-image: url(http://images.huffingtonpost.com/2013-10-08-1CliffsofMoher.jpg);
    background-repeat: none;
    background-size: cover;
    color: white;
    text-align: center;
}
